 .top{  
        color:white;
        padding-left:30px;
        padding-top:200px;}
  .content{
           color:orange;
           padding-top:20px;
           padding-left:120px;
           }
  .mid{  
         color:white;
         padding-top:70px;
         padding-left:50px;}
  #topic{
         color:white;
         padding-left:120px}
  .last{
         padding-top:50px;
         }
  #pp{
      color:yellow;
      padding-left:120px;
       padding-top:150px;}
 .pt{
      color:yellow;
      padding-left:120px;
       padding-top:30px;}
   #nice{
         color:white;
         padding-left:120px}
  .ps{
      color:yellow;
      padding-left:120px;
       padding-top:30px;}
   #poli{
         color:white;
         padding-left:120px}
    .pj{
      color:yellow;
      padding-left:120px;
       padding-top:30px;}
   #poliye{
         color:white;
         padding-left:120px}
   .pk{
      color:yellow;
      padding-left:120px;
       padding-top:30px;}
   #polich{
         color:white;
         padding-left:120px}
   .po{
      color:yellow;
      padding-left:120px;
       padding-top:30px;}
   #poo{
         color:white;
         padding-left:120px}
    .pm{
      color:yellow;
      padding-left:120px;
       padding-top:30px;}
   #pmo{
         color:white;
         padding-left:120px}
    .pv{
      color:yellow;
      padding-left:120px;
       padding-top:30px;}
   #pvo{
         color:white;
         padding-left:160px}
